.imgFrames {
    display: grid;
    gap: 0;
    height: 91vh;
    border-collapse: collapse;
}

.imgFrame {
    background: white;
    border: 1px solid #c2c2c2;
    text-align: center;
    grid-template-columns: 1fr;
    display: flex;
    position:relative;
    justify-content: flex-end;
    align-items: flex-start;
}
