@import "../colors/Color";

.imgFrames {
    display: grid;
    gap: 0;
    height: 91vh;
    border-collapse: collapse;
}

.imgFrame {
    background: white;
    border: 1px solid  $light-gray;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}
