.btn {
    color: black;
    background-color: #fcdd9e;
    border: 0;
    border-radius: 40px;
    font-size: 18px;
    width: 130px;
    height: 40px;
    text-align: center;
    margin: 30px 20px;
    cursor: pointer;
}