<form action="{% url 'textApp:translate' %}" method="POST" name="Translate_Form">
{% csrf_token %}
    <h1>추출된 텍스트</h1>
    {% if Text_list %}
        <ul>
        {% for Text in Text_list %}
            <li>{{Text.src_text}}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>추출된 텍스트가 없습니다.</p>
    {% endif %}
    <input type="submit" value="번역하기">
</form>
<div>
    <h1>번역된 텍스트</h1>
    {% if Text_list %}
        <ul>
        {% for Text in Text_list %}
            <li>{{Text.tar_text}}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>번역된 텍스트가 없습니다.</p>
    {% endif %}
</div>

