@import "./State";
@import "../colors/Color";

.lanText{
    position:absolute;
    left:45%;
    font-size: 14px;
    color:$dark-gray;
}

// convertoon 페이지의 언어 선택 state + 번역 버튼
.lanState {
    display: flex;
    height:30px;
    border: 1px solid $light-gray;
    justify-content: center;
    align-items: center;
    text-align: center;
}