/* container : header와 status 제외한 나머지 섹션 */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  height: 91vh;
}

/* viewBox : 좌우측으로 나눠진 섹션 (좌측 : 이미지 업로드 섹션, 우측 : 텍스트 추출 섹션) */
.viewBox {
  background: white;
  border: 1px solid #c2c2c2;
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* 업로드 버튼 */
.uploadBtn {
  color: black;
  background-color: #fcdd9e;
  border: 0;
  border-radius: 40px;
  font-size: 18px;
  width: 160px;
  height: 40px;
  text-align: center;
  margin: 30px auto;
  cursor: pointer;
}

/* 추출 버튼 - 비활성화 */
.disabledExtractBtn {
  color: black;
  background-color: #c2c2c2;
  border: 0;
  border-radius: 40px;
  font-size: 18px;
  width: 130px;
  height: 40px;
  text-align: center;
  margin: 30px auto;
}

/* 추출 버튼 - 활성화 */
.abledExtractBtn {
  color: black;
  background-color: #fcdd9e;
  border: 0;
  border-radius: 40px;
  font-size: 18px;
  width: 130px;
  height: 40px;
  text-align: center;
  margin: 30px auto;
  cursor: pointer;
}


.text {
  height: 30px;
  margin : 0;
  padding-top : 5px;
  vertical-align : middle;
}

/* 파일 선택 */
.file {
  text-align: center;
  justify-content: center;
  height: 10vh;
  width: 20vw;
  padding: 45% 0% 30% 30%;
  border: dashed 1px #000;
}

/* 사진 미리보기 */
.previewImg {
  width: 100%;
}