.container {
  display: grid;
  grid-template-rows: 0.5fr 8fr 1.5fr;
  gap: 0;
  height: 91vh;
}

/* 나눠진 섹션 : 언어 선택, 번역 결과, 버튼 섹션 */
.section {
  background: white;
  display: grid;
  justify-content: center;
  align-items: flex-start;
}

.text {
  height: 30px;
  margin : 0;
  padding-top : 5px;
  vertical-align : middle;
}

.textsection {
  background: white;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr;
}

.modifyBtn {
  margin-top: 10px;
  background-color: #fcdd9e;
  border: 0;
  border-radius: 40px;
  width: 70px;
}

.modifyBtn:disabled {
  margin-top: 10px;
  background-color: #c2c2c2;
  color: black;
  border: 0;
  border-radius: 40px;
  width: 70px;
}