.modifyBtn {
    color: black;
    background-color: #fcdd9e;
    border: 0;
    border-radius: 40px;
    font-size: 18px;
    width: 130px;
    height: 40px;
    text-align: center;
    margin: 30px auto;
    cursor: pointer;
}

.textField {
    resize: none;
    width: 40vw;
    height: 70px;
    border: 1px solid black;
    margin: 30px 0px 0px;
    text-align: center;
}

.textField:disabled {
    background-color: white;
    color: black;
}

.textField:focus {
    background-color: yellow;
    outline: 0;
}