.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    border-collapse: collapse;

    .viewBox {
        background: white;
        border: 1px solid #c2c2c2;
        text-align: center;
        display: grid;
        justify-content: center;
        align-items: center;
    }
      
}